{{ define "StoreImplCreate" -}}
func (r *{{.ID}}StoreImpl) Create(ctx context.Context, obj {{.ID}}) (*{{.ID}}, error) {
  var tx *sql.Tx
  var err error
  var txNew bool
  {{- template "PreUpdateObj" . }}
  tx, err = r.{{.DB}}.BeginTx(ctx, nil)
  txNew = true
  defer tx.Rollback()
  {{- range .Fields -}}
    {{- if eq .Type "version" -}}
      {{- "\n  "}}obj.{{.ID}} = 1
    {{- end}}
  {{- end}}
  {{- range .Fields -}}{{$f := . -}}
    {{- if eq .Type "many-to-one" -}}
      {{- range .RefKeys}}
        {{- "\n  "}}var obj{{$f.ID}}_{{.Ref.ID}} {{ .Ref.GoSqlNullType }}
        {{- "\n  "}}if obj.{{$f.ID}} != nil {
        {{- "\n    "}}obj{{$f.ID}}_{{.Ref.ID}} = {{ .Ref.GoSqlNullType }}Value(obj.{{$f.ID}}.{{.Ref.ID}})
        {{- "\n  "}}} else {
        {{- "\n    "}}obj{{$f.ID}}_{{.Ref.ID}} = {{ .Ref.GoSqlNullType }}ValueNull()
        {{- "\n  "}}}
      {{- end}}
    {{- else if eq .Type "password" }}
      obj_{{.ID}}, err := util.HashPassword(obj.{{.ID}})
      if err != nil {
        return nil, err
      }
    {{- end}}
  {{- end}}
  qry := `
    INSERT INTO {{.Table}} (
      {{ $idx := 0 }}{{- range .Fields }}
        {{- if eq .Type "autoincrement" -}}
        {{- else if eq .Type "many-to-many" }}
        {{- else if eq .Type "many-to-one" }}{{$fb := . }}
          {{- range .RefKeys}}
            {{- if gt $idx 0}},{{ "\n      " }}{{end}}{{ $idx = add $idx 1 }}{{.Field}}
          {{- end}}
        {{- else }}
          {{- if gt $idx 0}},{{ "\n      " }}{{end}}{{ $idx = add $idx 1 }}{{.Field}}
        {{- end}}
      {{- end}}
    ) VALUES (
      {{- $idx := 0 }}{{- range .Fields }}
        {{- if eq .Type "autoincrement" -}}
        {{- else if eq .Type "many-to-many" }}
        {{- else if eq .Type "many-to-one" }}{{$fb := . }}
          {{- range .RefKeys}}
            {{- if gt $idx 0}}, {{end}}{{ $idx = add $idx 1 }}{{template "QryParam" $idx}}
          {{- end}}
        {{- else }}
          {{- if gt $idx 0}}, {{end}}{{ $idx = add $idx 1 }}{{template "QryParam" $idx}}
        {{- end}}
      {{- end -}}
    ){{ template "CreateReturning" . }}`
  slog.Debug("store.{{.ID}}.Create",
    slog.String("qry", qry),
    {{- range .Fields -}}{{$f := . -}}
      {{- if eq .Type "autoincrement" -}}
      {{- else if eq .Type "many-to-many" }}
      {{- else if eq .Type "many-to-one" }}{{$fb := . }}
        {{- range .RefKeys}}
          {{- "\n    "}}{{.Ref.GoLogNullType}}("{{$f.ID}}.{{.Ref.Field}}", obj{{$f.ID}}_{{.Ref.ID}}),
        {{- end}}
      {{- else if eq .Type "password" }}
        {{- "\n    "}}{{.GoLogType}}("{{.Field}}", obj.{{.ID}}),
      {{- else }}
        {{- "\n    "}}{{.GoLogType}}("{{.Field}}", obj.{{.ID}}),
      {{- end}}
    {{- end}}
  )
  {{template "CreateExec" .}}
  {{- range .Fields -}}{{$f := . -}}
    {{- if eq .Type "many-to-many" }}
  qry = `
    INSERT INTO {{.MapTable}} (
      {{- $fidx := 0}}{{range .MapKeys}}
        {{- if gt $fidx 0}}, {{end}}{{$fidx = add $fidx 1}}
        {{- .Field}}
      {{- end}}
      {{- range .RefKeys}}
        {{- if gt $fidx 0}}, {{end}}{{$fidx = add $fidx 1}}
        {{- .Field}}
      {{- end}})
    VALUES (
      {{- $fidx := 0}}{{range .MapKeys -}}
        {{- if gt $fidx 0}}, {{end}}{{$fidx = add $fidx 1 }}
        {{- template "QryParam" $fidx}}
      {{- end }}
      {{- range .RefKeys}}
        {{- if gt $fidx 0}}, {{end}}{{$fidx = add $fidx 1 }}
        {{- template "QryParam" $fidx}}
      {{- end}})`
    for _, objRef := range obj.{{$f.ID}} {
      slog.Debug("store.{{.Model.ID}}.{{.ID}}.Create",
        slog.String("qry", qry),
        {{- range .MapKeys}}
          slog.Any("{{.Ref.Model.ID}}.{{- .Ref.ID}}", obj.{{- .Ref.ID}}),
        {{- end}}
        {{- range .RefKeys}}
          slog.Any("{{.Ref.Model.ID}}.{{- .Ref.ID}}", objRef.{{- .Ref.ID}}),
        {{- end}}
      )
      res, err := tx.ExecContext(ctx, qry
        {{- range .MapKeys}}
          {{- ", obj." }}{{- .Ref.ID}}
        {{- end}}
        {{- range .RefKeys}}
          {{- ", objRef." }}{{- .Ref.ID}}
        {{- end}})
      if err != nil {
        slog.Error("store.{{.Model.ID}}.{{.ID}}.Create",
          slog.String("qry", qry),
          {{- range .MapKeys}}
            slog.Any("{{.Ref.Model.ID}}.{{- .Ref.ID}}", obj.{{- .Ref.ID}}),
          {{- end}}
          {{- range .RefKeys}}
            slog.Any("{{.Ref.Model.ID}}.{{- .Ref.ID}}", objRef.{{- .Ref.ID}}),
          {{- end}}
        )
        return nil, err
      }
    	ra, err := res.RowsAffected()
    	if err != nil {
        slog.Error("store.{{.Model.ID}}.{{.ID}}.Create.RowsAffected",
          slog.String("qry", qry),
          {{- range .MapKeys}}
            slog.Any("{{.Ref.Model.ID}}.{{- .Ref.ID}}", obj.{{- .Ref.ID}}),
          {{- end}}
          {{- range .RefKeys}}
            slog.Any("{{.Ref.Model.ID}}.{{- .Ref.ID}}", objRef.{{- .Ref.ID}}),
          {{- end}}
        )
     		return nil, err
    	}
    	if ra != 1 {
    		return nil, fmt.Errorf("ERR_INSERT_FAILED")
    	}
    }
    {{- end}}
  {{- end}}
  if txNew {
    err = tx.Commit()
    if err != nil {
      return nil, err
    }
  }
  return &obj, nil
}
{{- end -}}

{{define "CreateReturning" -}}
{{- end -}}

{{define "CreateExec" -}}
  res, err := tx.ExecContext(ctx, qry,
   {{- range .Fields -}}{{$f := . -}}
      {{- if eq .Type "autoincrement" -}}
      {{- else if eq .Type "many-to-many" }}
      {{- else if eq .Type "many-to-one" }}
        {{- range .RefKeys}}
          {{- "\n    "}}obj{{$f.ID}}_{{.Ref.ID}},
        {{- end}}
      {{- else if eq .Type "password" }}
        {{- "\n    "}}obj_{{.ID}},
      {{- else }}
        {{- "\n    "}}obj.{{.ID}},
      {{- end}}
    {{- end}}
  )
  if err != nil {
    slog.Error("store.{{.ID}}.Create",
      slog.String("qry", qry),
      {{- range .Fields -}}{{$f := . -}}
        {{- if eq .Type "autoincrement" -}}
        {{- else if eq .Type "many-to-many" }}
        {{- else if eq .Type "many-to-one" }}{{$fb := . }}
          {{- range .RefKeys}}
            {{- "\n    "}}{{.Ref.GoLogNullType}}("{{$f.ID}}.{{.Ref.keld}}", obj{{$f.ID}}_{{.Ref.ID}}),
          {{- end}}
        {{- else if eq .Type "password" }}
          {{- "\n    "}}{{.GoLogType}}("{{.Field}}", obj.{{.ID}}),
        {{- else }}
          {{- "\n    "}}{{.GoLogType}}("{{.Field}}", obj.{{.ID}}),
        {{- end}}
      {{- end}}
    )
    return nil, err
  }
	ra, err := res.RowsAffected()
	if err != nil {
    slog.Error("store.{{.ID}}.Create.RowsAffected",
      slog.String("qry", qry),
      {{- range .Fields -}}{{$f := . -}}
        {{- if eq .Type "autoincrement" -}}
        {{- else if eq .Type "many-to-many" }}
        {{- else if eq .Type "many-to-one" }}{{$fb := . }}
          {{- range .RefKeys}}
            {{- "\n    "}}{{.Ref.GoLogNullType}}("{{$f.ID}}.{{.Ref.Field}}", obj{{$f.ID}}_{{.Ref.ID}}),
          {{- end}}
        {{- else if eq .Type "password" }}
          {{- "\n    "}}{{.GoLogType}}("{{.Field}}", obj.{{.ID}}),
        {{- else }}
          {{- "\n    "}}{{.GoLogType}}("{{.Field}}", obj.{{.ID}}),
        {{- end}}
      {{- end}}
    )
		return nil, err
	}
	if ra != 1 {
		return nil, fmt.Errorf("ERR_INSERT_FAILED")
	}
	obj.ID, err = res.LastInsertId()
  if err != nil {
    return nil, err
  }
{{- end -}}


