{{ define "StoreImplUpdate" -}}
func (r *{{.ID}}StoreImpl) Update(ctx context.Context, obj {{.ID}}, fields []{{.ID}}Field) error {
  var tx *sql.Tx
  var err error
  var txNew bool
  tx, err = r.db.BeginTx(ctx, nil)
  if err != nil {
    return err
  }
  txNew = true
  defer tx.Rollback()
  args := []any{}
  qry := `UPDATE {{.Table}} SET`
  {{- range .Fields -}}
    {{- if eq .Type "version" -}}
      {{- "\n  "}}if len(args) > 0 { qry += "," }
      {{- "\n  "}}args = append(args, obj.{{.ID}} + 1)
      {{- "\n  "}}qry += fmt.Sprintf("  {{.Field}} = {{ template "QryParamArg" . }}
    {{- end}}
  {{- end}}
  for _, f := range fields {
    switch f {
    {{- range .Fields}}{{if .IsUpdatable }}
    {{- if eq .Type "many-to-one" }}
      case {{.Model.ID}}Field_{{.ID}}:
        {{- $f := .}}{{range .RefKeys}}
        if len(args) > 0 { qry += "," }
        args = append(args, obj.{{$f.ID}}.{{.ID}})
        qry += fmt.Sprintf("  {{.Field}} = {{ template "QryParamArg" . }}
        {{- end}}
    {{- else if eq .Type "many-to-many" }}
      case {{.Model.ID}}Field_{{.ID}}:
    {{- else }}
      case {{.Model.ID}}Field_{{.ID}}:
        if len(args) > 0 { qry += "," }
        args = append(args, obj.{{.ID}})
        qry += fmt.Sprintf("  {{.Field}} = {{ template "QryParamArg" . }}
    {{- end}}{{end}}{{end}}
    default:
      return fmt.Errorf("field %v is unknown", f)
    }
  }
  qry += "\nWHERE\n"
  {{$idx := 0}}{{ range .Fields -}}{{if .IsPk -}}
    args = append(args, obj.{{.ID}})
    qry += fmt.Sprintf("{{if gt $idx 0}} AND\n{{end}}  {{.Field}} = {{ template "QryParamArg" . }}{{$idx = add $idx 1}}
  {{- end}}{{- end}}
  {{ range .Fields -}}{{if eq .Type "version" -}}
    args = append(args, obj.{{.ID}})
    qry += fmt.Sprintf("{{if gt $idx 0}} AND\n{{end}}  {{.Field}} = {{ template "QryParamArg" . }}{{$idx = add $idx 1}}
  {{- end}}{{- end}}
	logQueryArgs("store.{{.ID}}.Update", qry, args)
  res, err := tx.ExecContext(ctx, qry, args...)
  if err != nil {
	  logErrorQueryArgs("store.{{.ID}}.Update", qry, args)
    return err
  }
  ra, err := res.RowsAffected()
  if err != nil {
  	logErrorQueryArgs("store.{{.ID}}.Update.RowsAffected", qry, args)
    return err
  }
  if ra == 0 {
    return fmt.Errorf("no rows affected")
  }
  if ra != 1 {
    return fmt.Errorf("invalid rows affected (%d)", ra)
  }
  {{- range .Fields }}{{if eq .Type "many-to-many" }}
    args = []any{}
    qry = `SELECT {{$idx := 0}}{{range .RefKeys -}}
      {{if gt $idx 0}}, {{end}} {{.Field}}
    {{- end}} FROM {{.MapTable}} WHERE`
    {{$idx := 0}}{{range .MapKeys -}}
      qry += fmt.Sprintf("{{if gt $idx 0}} AND {{end}} {{.Field}} = {{ template "QryParamArg" . }}{{$idx = add $idx 1}}
      args = append(args, obj.{{.Ref.ID}})
    {{- end}}
  	logQueryArgs("store.{{.Model.ID}}.Update.{{.ID}}.Find", qry, args)
    rows, err := tx.QueryContext(ctx, qry, args...)
    if err != nil {
  	  logErrorQueryArgs("store.{{.Model.ID}}.Update.{{.ID}}.Find", qry, args)
      return err
    }
    defer rows.Close()
    add_{{.ID}} := []*{{.Ref}}{}
    del_{{.ID}} := []*{{.Ref}}{}
    cur_{{.ID}} := []*{{.Ref}}{}
    for rows.Next() {
      var mobj {{.Ref}};
      err = rows.Scan(
        {{range .RefKeys -}}
          &mobj.{{.Ref.ID}},
        {{- end}}
      )
      if err != nil {
  	    logErrorQueryArgs("store.{{.Model.ID}}.Update.{{.ID}}.Find.Scan", qry, args)
        return err
      }
      cur_{{.ID}} = append(cur_{{.ID}}, &mobj)
    }
    for _, mobj := range obj.{{.ID}} {
      found := false
      for _, objRef := range cur_{{.ID}} {
        if {{range .RefKeys -}}
          objRef.{{.ID}} == mobj.{{.ID}} &&
        {{- end}} true {
          found = true
          break
        }
      }
      if !found {
        add_{{.ID}} = append(add_{{.ID}}, &mobj)
      }
    }
    for _, mobj := range cur_{{.ID}} {
      found := false
      for _, objRef := range obj.{{.ID}} {
        if {{range .RefKeys -}}
          objRef.{{.ID}} == mobj.{{.ID}} &&
        {{- end}} true {
          found = true
          break
        }
      }
      if !found {
        del_{{.ID}} = append(del_{{.ID}}, mobj)
      }
    }
    for _, mobj := range del_{{.ID}} {
      args = []any{}
      qry = `DELETE FROM {{.MapTable}} WHERE`
      {{- $idx := 0}}{{range .MapKeys }}
        qry += fmt.Sprintf("{{if gt $idx 0}} AND{{end}} {{.Field}} = {{ template "QryParamArg" . }}{{$idx = add $idx 1}}
        args = append(args, obj.{{.Ref.ID}})
      {{- end}}
      {{- range .RefKeys }}
        qry += fmt.Sprintf("{{if gt $idx 0}} AND{{end}} {{.Field}} = {{ template "QryParamArg" . }}{{$idx = add $idx 1}}
        args = append(args, mobj.{{.Ref.ID}})
      {{- end}}
  	  logQueryArgs("store.{{.Model.ID}}.Update.{{.ID}}.Delete", qry, args)
      res, err := tx.ExecContext(ctx, qry, args...)
      if err != nil {
  	    logErrorQueryArgs("store.{{.Model.ID}}.Update.{{.ID}}.Delete", qry, args)
        return err
      }
    	ra, err := res.RowsAffected()
    	if err != nil {
    		return err
    	}
    	if ra != 1 {
    		return fmt.Errorf("ERR_DELETE_FAILED")
    	}
    }
    for _, mobj := range add_{{.ID}} {
      args = []any{}
      qry = `INSERT INTO {{.MapTable}} (
        {{- $fidx := 0}}{{range .MapKeys -}}
          {{- if gt $fidx 0}}, {{end}}{{$fidx = add $fidx 1}}
          {{- .Field}}
        {{- end}}
        {{- range .RefKeys}}
          {{- if gt $fidx 0}}, {{end}}{{$fidx = add $fidx 1}}
          {{- .Field}}
        {{- end}})
      VALUES (
        {{- $fidx := 0}}{{range .MapKeys}}
          {{- if gt $fidx 0}}, {{end}}{{$fidx = add $fidx 1}}
          {{ template "QryParam" $fidx}}
        {{- end}}
        {{- range .RefKeys}}
          {{- if gt $fidx 0}}, {{end}}{{$fidx = add $fidx 1}}
          {{ template "QryParam" $fidx}}
        {{- end}})`
      {{- range .MapKeys}}
        args = append(args, obj.{{.Ref.ID}})
      {{- end}}
      {{- range .RefKeys}}
        args = append(args, mobj.{{.Ref.ID}})
      {{- end}}
  	  logQueryArgs("store.{{.Model.ID}}.Update.{{.ID}}.Insert", qry, args)
      res, err := tx.ExecContext(ctx, qry, args...)
      if err != nil {
  	    logErrorQueryArgs("store.{{.Model.ID}}.Update.{{.ID}}.Insert", qry, args)
        return err
      }
    	ra, err := res.RowsAffected()
    	if err != nil {
    		return err
    	}
    	if ra != 1 {
    		return fmt.Errorf("ERR_INSERT_FAILED")
    	}
    }
  {{- end}}{{end}}
  if txNew {
    err = tx.Commit()
    if err != nil {
      return err
    }
  }
  return nil
}

{{- range .Fields}}{{if eq .Type "password"}}
func (r *{{.Model.ID}}StoreImpl) Update{{.ID}}(ctx context.Context, {{template "ParamFkVersion" .Model }}, value string) error {
  var tx *sql.Tx
  var err error
  var txNew bool
  tx, err = r.db.BeginTx(ctx, nil)
  if err != nil {
    return err
  }
  txNew = true
  defer tx.Rollback()
  args := []any{}
  password, err := HashPassword(value)
  if err != nil {
    return err
  }
  qry := `UPDATE {{.Model.Table}} SET `
  {{- range .Model.Fields }}{{if eq .Type "password" }}
    if len(args) > 0 { qry += ", " }
    args = append(args, password)
    qry += fmt.Sprintf("{{.Field}} = {{ template "QryParamArg" . }}
  {{- end}}{{- end}}
  qry += ` WHERE `
  {{$idx := 0}}{{ range .Model.Fields -}}{{if .IsPk -}}
    args = append(args, {{.Field}})
    qry += fmt.Sprintf("{{if gt $idx 0}} AND\n{{end}}  {{.Field}} = {{ template "QryParamArg" . }}{{$idx = add $idx 1}}
  {{- end}}{{- end}}
  {{ range .Model.Fields -}}{{if eq .Type "version" -}}
    args = append(args, {{.Field}})
    qry += fmt.Sprintf("{{if gt $idx 0}} AND\n{{end}}  {{.Field}} = {{ template "QryParamArg" . }}{{$idx = add $idx 1}}
  {{- end}}{{- end}}
	logQueryArgs("store.{{.Model.ID}}.Update{{.ID}}", qry, args)
  res, err := tx.ExecContext(ctx, qry, args...)
  if err != nil {
	  logErrorQueryArgs("store.{{.Model.ID}}.Update{{.ID}}", qry, args)
    return err
  }
  ra, err := res.RowsAffected()
  if err != nil {
	  logErrorQueryArgs("store.{{.Model.ID}}.Update{{.ID}}.RowsAffected", qry, args)
    return err
  }
  if ra == 0 {
    return fmt.Errorf("no rows affected")
  }
  if ra != 1 {
    return fmt.Errorf("invalid rows affected (%d)", ra)
  }
  if txNew {
    err = tx.Commit()
    if err != nil {
      return err
    }
  }
  return nil
}
{{- end}}{{end}}
{{- end}}

{{ define "QryParam" -}}
  ${{ . }}
{{- end -}}

{{ define "QryParamArg" -}}
  $%d", len(args))
{{- end -}}
