{{template "StoreInterface" .}}

{{template "StoreImplCreate" .}}

{{template "StoreImplGet" .}}

{{template "StoreImplFind" .}}
{{template "StoreImplFindFilter" .}}

{{template "StoreImplUpdate" .}}

{{template "StoreImplDelete" .}}

