{{define "LogCreateExec" -}}
  slog.Debug("{{.ID}}Create",
    slog.String("qry", qry),
    {{- range .Fields -}}{{$f := . -}}
      {{- if eq .Type "autoincrement" -}}
      {{- else if eq .Type "many-to-many" }}
      {{- else if eq .Type "many-to-one" }}{{$fb := . }}
        {{- range .RefKeys}}
          {{- "\n    "}}{{.Ref.GoLogNullType}}("{{$f.ID}}.{{.Ref.Field}}", obj{{$f.ID}}_{{.Ref.ID}}),
        {{- end}}
      {{- else if eq .Type "password" }}
        {{- "\n    "}}{{.GoLogType}}("{{.Field}}", obj.{{.ID}}),
      {{- else }}
        {{- "\n    "}}{{.GoLogType}}("{{.Field}}", obj.{{.ID}}),
      {{- end}}
    {{- end}}
  )
{{- end -}}
